.header {
  padding: 3.333rem 0;
  width: 18rem;
}

.header .avatar {
  display: flex;
  flex-direction: row;

  /* align-items: baseline; */

  padding-bottom: 40px;
}

.header a.avatar {
  color: #333;
}

.header .avatar > a {
  margin-right: 1rem;
}

.header .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.header .avatar strong {
  display: inline-block;
}

.header ul {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  list-style: none;

  padding: 0;
  margin: 0;
}

.header ul li {
  font-family: 'Krub', sans-serif;
}

.header ul li h1 {
  margin: 0;
}

.header ul li a {
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
}
.header ul li a:hover {
  border-bottom: 1px solid #FB5D86;
}

.header ul li:last-child:after {
  display: none;
}
